<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-back-button defaultHref='/home'></ion-back-button>
        </ion-buttons>
        <ion-title>Add medicine entries</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
        <form  (ngSubmit)="save()" >
    <ion-item>
        <ion-label position='floating'>
            Name of your medicine
        </ion-label>
    
        <ion-input name='name' [(ngModel)]="medicine.name"></ion-input>
    
    </ion-item>
    <br>

    <!-- Datetime -->

    <ion-list-header>
        <ion-label>
            PICK YOUR REMINDERS
        </ion-label>
    </ion-list-header>

    <ion-item  *ngFor="let time of medicine.time; let i =index">
        <ion-label>Time {{i+1}}: </ion-label>
        <ion-datetime name= "{{'datetime'+ i+1}}" displayFormat="h:mm A" minuteValues="0,15,30,45" [(ngModel)]='time'></ion-datetime>
    </ion-item>

    <ion-button size="small" fill='clear' color='dark' expand="block" (click)='addTime()'>
        <ion-icon slot="icon-only" name="add"></ion-icon>Add more
    </ion-button>

    <ion-item lines="none">
        <ion-label>Snooze</ion-label>
        <ion-input class='snooze' text-right inputmode="numeric" (click)='snoozeTime()' name='snooze' [(ngModel)]="medicine.snooze" readonly></ion-input>
        <!-- <p slot='end' name= 'snooze' (click)='snoozeTime()'>{{medicine.snooze}}<small> minutes</small></p> -->
    </ion-item>
    
    <!-- Datetime -->

    <ion-list-header>
        <ion-label>
            NOTES
        </ion-label>
    </ion-list-header>

    <ion-item>
        <ion-textarea name = 'notes' rows="3" cols="20" placeholder="Enter any notes here..." [(ngModel)]='medicine.notes'></ion-textarea>
    </ion-item>

    <ion-button expand='block' type='submit' (click)='save()'>Save</ion-button>
</form>
</ion-content>